[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
sanic = ">=19.3.1"
werkzeug = ">=0.15.4"
click = ">=7.0"
Pillow= ">=6.0.0"
cos-python-sdk-v5 = ">=1.6.9"
sentry-sdk = "==0.9.0"
aiomysql = "*"
tortoise-orm = "*"
gunicorn = "*"
minio = "*"

[requires]
python_version = "3.7"
