upstream ImgurApi {
    server unix:/path/to/app_name.sock;
}

# image domain
# http
server {
    listen       80;
    server_name  img.example.com;
    return 301 https://$host$request_uri;
}

# https
server {
    listen        443;
    server_name   img.example.com;

    ssl_certificate      /path/to/fullchain;
    ssl_certificate_key  /path/to/privkey;

    client_max_body_size 15m;  # 控制 body 的大小

    location /images/ {
        root /path/to/images;
    }

    location /api/ {
        proxy_redirect off;
        proxy_pass http://ImgurApi;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}
